<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>F2mclinic</title>

</head>
<body>
	{% block content %}
		<div class="container text-monospace">
			<div class="jumbotron">
				<center><h2>Forgot your password</h2></center>
				<hr>
				<p>Enter your email address below. We'll email instructions for setting a new one</p>
				<form method="POST">
					{% csrf_token %}
					{% bootstrap_form form %}
					<input type="submit" class="btn btn-primary" value="Reset Password">
				</form>
			</div>
		</div>
	{% endblock content %}
		
</body>
</html>